*{
    margin: 0;
}
header{
    grid-area: header;
    background-color: aliceblue;
}
nav{
    grid-area: nav;
    background-color: aqua;
}
main{
    grid-area: main;
    background-color: aquamarine;
}
menu{
    grid-area: menu;
    background-color: beige;
    margin: 0;
}
footer{
    grid-area: footer;
    background-color: blanchedalmond;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "menu"
    "footer";
}


.navbar-nav li:hover{
    background-color: white;

}
.filtro{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3px;
}

.cartas{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 0;
    margin-right: 40px;
}

.carta{
    display: flex;
    border: solid 1px black;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 5px;
}

.botones{
    margin-top: 20px ;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 40px;
}

.botones button{
    background-color: white;
    border: 0;
    border-radius: 0.3rem; 
}

.botones a{
    text-decoration: none;
    pointer-events: none;
    color: black;
}


/* .cartas{
    display: flex;
    flex-direction: column;
}

.carta{
    margin-bottom: 10px;
} */

.carta img{
    width: auto;
    height: 100px;
}

.iconos-footer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 15px;
}

.iconos-footer i{
    margin-right: 5px ;
}

.iconos-footer p{
    font-size: 10px;

}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    text-align: center;

}

@keyframes anim{
    0% {background-color: #ff0;} /*Amarillo*/
   25% {background-color: rgb(255, 255, 255);} /*Blanco*/
   50% {background-color: #3001ff;} /*Negro*/
   75% {background-color: rgb(255, 255, 255);} /*otra vez blanco*/
  100% {background-color: #ff0;} /*Otra vez amarillo*/
}



@media (max-width: 576px){
    header{
        display: none;
    }
    .no{
        display: none;
    }
}

@media (min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        "header main main"
        "header menu menu"
        "header menu menu"
        "footer menu menu";
        grid-template-columns: 200px;
    }
    nav{
        display: none;
    }

    header{
        background-color: #37B7C3;

    }
    main{
        background-color: #071952;
    }
    menu{
        background-color: #EBF4F6;
    }
    footer{
        background-color: #088395;
    }

    .logo{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo h4{
        margin-left: 10px;
    }

    .filtro h5{
        color: white;
    }

    .logo:hover{
        background-color: #088395;
    }

    .lista{
        display: flex;
        justify-content: center;
    }

    .lista li{
        list-style: none;
        
    }

    .lista a{
        text-decoration: none;
        color:black;
        transition: all 1s;
    }

    .lista a:hover{
        color: white;
    }

    .cartas{
        display: flex;
        justify-content: space-evenly;
    }

    .carta{
        box-shadow: 
        /* 0 0 0 2px rgb(255, 255, 255), */
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }

    .carta img{
        transition: all 1s;
    }

    .carta img:hover{
        transform: scale(1.5);
    }

    .carta button{
        background-color: white;
        transition: all 2s;
    }

    .carta button:hover{
        transform: rotate(360deg) scale(1.5);
        color: green;
        border: solid 1px green;
    }

    .botones button{
        background-color: #EBF4F6;
    }

    button:active{
        transform: scale(1.5);
        border: solid 1px black;
    }

    .iconos-footer p{
        font-size: 10px;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    /* .iconos-contacto{
        display: flex;
    } */
}